[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
rfeed = "*"
requests = "*"
beautifulsoup4 = "*"
datasette = "*"
csvs-to-sqlite = "*"
datasette-publish-vercel = "*"

[dev-packages]

[requires]
python_version = "*"
